[submodule "nft-mint-analysis/lib/forge-std"]
	path = nft-mint-analysis/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "nft-mint-analysis/lib/openzeppelin-contracts"]
	path = nft-mint-analysis/lib/openzeppelin-contracts
	url = https://github.com/Openzeppelin/openzeppelin-contracts
[submodule "nft-mint-analysis/lib/solmate"]
	path = nft-mint-analysis/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "nft-mint-analysis/lib/ERC721A"]
	path = nft-mint-analysis/lib/ERC721A
	url = https://github.com/chiru-labs/ERC721A
